# Build folders
bin/
obj/
Debug/
Release/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE settings
.vscode/
*.idea/

# NuGet packages
*.nupkg
*.snupkg
*.nuspec
packages/

# Test results
TestResults/
*.trx
*.coverage

# Others
*.vs/
.vs/BrewCafe/FileContentIndex/db5f5d4d-a9eb-4524-9674-06a4ba98ac36.vsidx
